<<h1>Reviews in <%= @movie.title %></h1>
<table>
  <tr>
    <th>Review details</th>
  </tr>
  <% for review in @reviews %>
    <tr>
      <td><%= review.details %></td>
	   <td><%= review.author %></td>
      <td><%= link_to 'Show', movie_review_path(@movie, review) %></td>
      <td><%= link_to 'Edit', edit_movie_review_path(@movie, review) %></td>

      <td><%= button_to "Delete this review", movie_review_path(@movie, review), method: :delete %></td>
    </tr>
  <% end %>
</table>
<br />
<%= link_to 'New review', new_movie_review_path(@movie) %>
<%= link_to 'Back to Movie', @movie %>

