<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= book.review %>
  </p>

  <p>
    <strong>Read:</strong>
    <%= book.read %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= book.year %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= book.price %>
  </p>

</div>
