<h1>Simple Calculator</h1>

<%= form_with url: "/sum", local: true, data: { turbo: false } do |f| %>

<%= text_field_tag :number1 %>

<%= text_field_tag :number2 %>

<%= submit_tag "+", name:'operator' %>
<%= submit_tag "-", name:'operator' %>
<%= submit_tag "*", name:'operator' %>
<%= submit_tag "%", name:'operator' %>

<% end %>
